{{#if tome.notOwn}}
  {{#if tome.favorite}}
  <button data-id="{{tome._id}}" type="button" class="btn btn-secondary my-2 my-sm-0 toggle-favorite float-right align-middle">
    Remove
  </button>
  {{else}}
  <button data-id="{{tome._id}}" type="button" class="btn btn-warning my-2 my-sm-0 toggle-favorite fav-btn float-right align-middle">
    Archive
  </button>
  {{/if}}
{{/if}}
{{#if tome.notes}}
<button class="btn btn-dark float-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Notes
</button>
{{/if}}
