<div class="container col-12 edit-comment-menu">
  <form class="edit-comment-form" data-id="{{comment._id}}">
    <div class="form-group">
      <textarea class="form-input form-control paper-input" name="comment[body]" placeholder="Body" rows="2">{{comment.body}}</textarea>
    </div>
  </form>
  <button data-id="{{comment._id}}" type="button" class="btn btn-success my-2 my-sm-0 confirm-comment-edit">
    Submit
  </button>
  <button data-id="{{comment._id}}" type="button" class="btn btn-secondary my-2 my-sm-0 cancel-comment-edit">
    Cancel
  </button>
</div>
</div>
