<div class="container col-12 edit-note-menu">
  <form class="edit-note-form" data-id="{{note._id}}">
    <div class="form-group">
      <textarea class="form-input form-control paper-input" name="note[body]" placeholder="Body" rows="1">{{note.body}}</textarea>
    </div>
  </form>
  <button data-id="{{note._id}}" type="button" class="btn btn-success my-2 my-sm-0 confirm-note-edit">
    Submit
  </button>
  <button data-id="{{note._id}}" type="button" class="btn btn-secondary my-2 my-sm-0 cancel-note-edit">
    Cancel
  </button>
</div>
</div>
