@import '~bootstrap/scss/bootstrap';

html, body {
  font-family: 'Girassol', cursive;
  height: 100%;
  margin: 0;
}

body {
  background-image: url('https://imgur.com/oR66g1I.png');
  background-position: center;
}

h3 {
  font-family: 'Cinzel', serif;
}

textarea {
  color: black;
  font-family: 'Spectral', serif;
}

input {
  color: black;
  font-family: 'Spectral', serif;
}

#create-tome-menu {
  background-image: url('https://imgur.com/1wFd5FS.png');
  background-position: center;
  background-size: cover;
  margin-top: 45px;
  padding: 20px;
}

.account-page {
  background-image: url('https://imgur.com/1wFd5FS.png');
  background-position: center;
  background-size: cover;
  margin-top: 45px;
  padding: 20px;
}

.single-note {
  margin: 0 18px;
}

.fancy-break {
  background-image: url('https://imgur.com/k9GYs4N.png');
  background-repeat: no-repeat;
  background-size: 98%;
  background-position: center;
  height: 40px;
}

.written-text {
  font-family: 'Spectral', serif;
  white-space: pre-line;
}

::placeholder {
  color: #2e2e2d;
}

.form-control::-webkit-input-placeholder {
  color: #2e2e2d;
}

.paper-input {
  background-image: url('https://imgur.com/1wFd5FS.png');
  background-position: center;
  background-size: cover;
  filter: brightness(90%);
}

.foot-message {
  background-image: url('https://imgur.com/1wFd5FS.png');
  background-position: center;
  background-size: cover;
  font-size: 150%;
}

.bottom-bar {
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 85%;
}


.modal-content {
  background-color: #000;
  background-image: url('https://imgur.com/1wFd5FS.png');
  background-position: center;
  background-size: cover;
}

.card-body {
  background-image: url('https://imgur.com/rL9Npsw.png');
  background-position: center;
  background-size: cover;
}

.fav-btn {
  background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
}

.fav-star {
  align-self: flex-end;
}

.cover-text {
  background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
  margin-left: 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hidden {
  display: none;
}

.sidenav {
  background-color: #111;
  background-image: url('https://imgur.com/cKYVZda.png');
  background-position: center;
  height: 100%;
  justify-content: center;
  left: 0;
  // overflow-x: hidden;
  padding-right: 20px;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 10%;
  z-index: 1;
}

.logo {
  background-image: url('https://imgur.com/yGPevZt.jpeg');
  background-position: center;
  background-size: 99%;
  background-repeat: no-repeat;
  height: 17%;
}

.right-body {
  align-items: flex-end;
  margin-left: 10%;
  width: 90%;
}

.sidebar-item {
  display: block;
  margin: 10px;
}

.tome-item {
  margin: 15px;
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}

.notebar {
  margin-right: 16px;
  height: 30px;
  position: sticky;
  top: 0;
}
