@import '~bootstrap/scss/bootstrap';

html, body {
  font-family: 'Girassol', cursive;
  height: 100%;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0;
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

body {
  background-attachment: fixed;
  background-image: url('https://imgur.com/oR66g1I.png');
  background-position: center;
}

a {
  color: black;
}

h3 {
  font-family: 'Cinzel', serif;
}

textarea {
  color: black;
  font-family: 'Spectral', serif;
}

input {
  color: black;
  font-family: 'Spectral', serif;
}

img {
  cursor: pointer;
}

#create-tome-menu {
  background: linear-gradient(90deg, rgba(245,209,95,1) 0%, rgba(244,224,167,1) 25%, rgba(244,225,173,1) 50%, rgba(244,223,165,1) 75%, rgba(245,209,95,1) 100%);
  margin-top: 45px;
  padding: 20px;
}

.account-page {
  background: linear-gradient(90deg, rgba(245,209,95,1) 0%, rgba(244,224,167,1) 25%, rgba(244,225,173,1) 50%, rgba(244,223,165,1) 75%, rgba(245,209,95,1) 100%);
  margin-top: 45px;
  padding: 20px;
}

.paper-input {
  background: linear-gradient(90deg, rgba(245,209,95,1) 0%, rgba(244,224,167,1) 25%, rgba(244,225,173,1) 50%, rgba(244,223,165,1) 75%, rgba(245,209,95,1) 100%);
  filter: brightness(90%);
}

.foot-message {
  background: linear-gradient(90deg, rgba(207,177,82,1) 0%, rgba(226,207,154,1) 25%, rgba(215,199,153,1) 50%, rgba(226,207,154,1) 75%, rgba(207,177,82,1) 100%);
  font-size: 150%;
}

.modal-content {
  background: linear-gradient(90deg, rgba(245,209,95,1) 0%, rgba(244,224,167,1) 25%, rgba(244,225,173,1) 50%, rgba(244,223,165,1) 75%, rgba(245,209,95,1) 100%);
}

.auth-input {
  margin: 10px 0 10px 0;
}

.single-note {
  margin: 0 18px;
}

.fancy-break {
  background-image: url('https://imgur.com/k9GYs4N.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 98%;
  height: 40px;
}

.written-text {
  font-family: 'Spectral', serif;
  white-space: pre-line;
}

::placeholder {
  color: #2e2e2d;
}

.avatar-form {
  display: inline;
}

.form-control::-webkit-input-placeholder {
  color: #2e2e2d;
}

.acount-auth {
  display: flex;
}

.change-pass-btn {
  margin-left: auto;
}

.bottom-bar {
  bottom: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  text-align: center;
  width: 85%;
}

.button-placeholder {
  height: 38px;
}

.card-body {
  background-image: url('https://imgur.com/rL9Npsw.png');
  background-position: center;
  background-size: cover;
}

.fav-btn {
  background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
}

.fav-star {
  align-self: flex-end;
  display: inline;
}

.cover-text {
  background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 15px;
}

.input-button {
  margin-left: 10px;
}

.sidenav {
  background-color: #111;
  background-image: url('https://imgur.com/cKYVZda.png');
  background-position: center;
  height: 100%;
  justify-content: center;
  left: 0;
  padding-right: 20px;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 10%;
  z-index: 1;
}

.logo {
  background-image: url('https://imgur.com/yGPevZt.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 99%;
  height: 17%;
}

.logo2 {
  background-size: 99%;
  height: 17%;
}

.avatar-icon {
  max-width: 100%;
  max-height: 80%;
  margin-left: 10px;
}

.view-icon {
  max-height: 80px;
  max-width: 80px;
  margin-right: 20px;
}

.tome-icon {
  display: inline;
  max-height: 50px;
  max-width: 50px;
  margin-left: 18px;
}

.right-body {
  align-items: flex-end;
  margin-left: 10%;
  width: 90%;
  margin-bottom: 40px;
}

.profile-image {
  max-height: 200px;
  max-width: 200px;
}

.tomes-message {
  background-color: black;
  color: red;
  display: flex;
  font-size: 300%;
  justify-content: center;
  margin-top: 300px;
  text-align: center;
}

.user-header {
  display: inline;
  max-width: 50%;
  margin-left: 30px;
}

.sidebar-item {
  display: block;
  margin: 10px;
}

.tome-item {
  margin: 15px;
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}

.notebar {
  height: 38px;
  margin-right: 16px;
  position: sticky;
  top: 10px;
}

.close-stuck {
  bottom: 0;
  position: sticky;
}

.hidden {
  display: none;
}
